<header class="d-flex align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom fixed-top shadow-sm">
  <a href="#">
    <img src="/assets/images/logo.png" alt="logo"> <!-- Adjust width as needed -->
  </a>
  <nav class="d-none d-md-block text-uppercase fs-4">
    <a class="p-2 text-dark text-decoration-none fw-bold" href="#">Home</a>
    <a class="p-2 text-dark text-decoration-none fw-bold" href="#">Shop</a>
    <a class="p-2 text-dark text-decoration-none fw-bold" href="#">Support</a>
  </nav>
  <div class="d-flex align-items-center">
    <a href="" class="position-relative me-3">
      <i class="fa fa-shopping-cart fa-lg text-dark"></i> <!-- Adjust size as needed -->
      <div class="cart-no">5</div> <!-- Adjust font-size as needed -->
    </a>
    <a href="" class="btn btn-outline-secondary me-2 fw-bold">Login</a>
    <a href="" class="btn btn-outline-secondary fw-bold">Sign up</a>
  </div>
</header>
