<div class="container basket-container">
    <!-- Display message if basket is null -->
    <div *ngIf="(basketService.basketSource$ | async) === null">
        <p>There are no basket items in your cart</p>
    </div>

    <!-- Display basket items if basket is not null -->
    <ng-container *ngIf="(basketService.basketSource$ | async) as basket">
        <div *ngIf="basket.items.length === 0">
            <p>Your basket is empty</p>
        </div>
        <div class="basket-items" *ngIf="basket.items.length > 0">
            <div class="row">
                <table class="table table-responsive table-striped">
                    <thead class="bg-light text-uppercase">
                        <tr>
                            <th><div class="py-2">Product</div></th>
                            <th><div class="py-2">Name</div></th>
                            <th><div class="py-2">Quantity</div></th>
                            <th><div class="py-2">Price</div></th>
                            <th><div class="py-2">Total</div></th>
                            <th><div class="py-2">Remove</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of basket.items">
                            <td>
                                <div class="p-2 d-inline-block">
                                    <img [src]="item.pictureUrl" alt="{{item.productName}}" class="img-fluid">
                                </div>
                            </td>
                            <td>
                                <div class="m-3 d-inline-block align-middle" style="cursor: pointer;">
                                    <h5 routerLink="/shop/{{item.id}}" class="mb-0">{{item.productName}}</h5>
                                    <span class="text-muted fst-italic">{{item.type}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="quantity-controls">
                                    <button (click)="removeItem(item.id, 1)" class="btn btn-outline-secondary btn-sm">
                                        <i  class="fa fa-minus text-warning"></i>
                                    </button>
                                    <span class="mx-2">{{item.quantity}}</span>
                                    <button  (click)="increamentQuantity(item)" class="btn btn-outline-secondary btn-sm">
                                        <i class="fa fa-plus text-warning"></i>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <span class="text-muted fst-italic">{{item.price | currency}}</span>
                            </td>
                            <td>
                                <span class="text-muted fst-italic">{{(item.price * item.quantity) | currency}}</span>
                            </td>
                            <td>
                                <button  class="text-danger">
                                    <i
                                    (click)="removeItem(item.id, item.quantity)"
                                    class="fa fa-trash btn-sm" style="font-size: 2em; cursor: pointer;"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col text-end">
                    <h4>Total</h4>
                </div>
            </div>

            <div class="row">
                 <div class="col-6 offset-6">
                    <app-order-total></app-order-total>
                    <div class="d-grid">
                        <a routerLink="/checkout" class="btn btn-outline-primary py-2">
                            Proceed to check out
                        </a>
                    </div>
                 </div>
            </div>
        </div>
    </ng-container>
</div>
