<div class="row" *ngIf="product">
    <div class="col-12 col-md-6">
        <img [src]="product.pictureUrl" [alt]="product.name" class="img-fluid w-100">
    </div>
    <div class="col-12 col-md-6 mt-5">
        <h2>{{product.name}}</h2>
        <p class="text-muted">{{product.price | currency}}</p>
        <div class="d-flex justify-content-start align-items-center my-3">
            <i class="fa fa-minus-circle text-warning me-3 quantity-control"></i>
            <span class="font-weight-bold fs-3 mx-2">2</span>
            <i class="fa fa-plus-circle text-warning me-3 quantity-control"></i>
            <div class="btn btn-outline-secondary ms-4">Add to cart</div>
        </div>

        <div class="row mt-4">
            <h4>Description</h4>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>

