<ng-container *ngIf="$any(bcService.breadcrumbs$ | async) as breadcrumbs">
  <section *ngIf="breadcrumbs[breadcrumbs.length - 1].label !== 'Home'" class="py-5 bg-light mt-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-9 col-md-8 col-12 mb-3 mb-md-0">
          <h1 class="display-4">{{breadcrumbs[breadcrumbs.length - 1].label | titlecase}}</h1>
        </div>
        <div class="col-lg-3 col-md-4 col-12 text-md-right text-center">
          <xng-breadcrumb>
            <ng-container *xngBreadcrumbItem="let breadcrumb">
              {{breadcrumb | titlecase}}
            </ng-container>
          </xng-breadcrumb>
        </div>
      </div>
    </div>
  </section>
</ng-container>
