<header class="d-flex align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom fixed-top shadow-sm">
  <a routerLink="/">
    <img src="/assets/images/logo.png" class="logo" alt="logo"> <!-- Adjust width as needed -->
  </a>
  <nav class="d-none d-md-block text-uppercase fs-5">
    <a class="p-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="p-2" routerLink="/shop" routerLinkActive="active">Shop</a>
    <a class="p-2" routerLink="/contact" routerLinkActive="active">Contact</a>
    <a class="p-2" routerLink="/test-error" routerLinkActive="active">Error</a>
  </nav>
  <div class="d-flex align-items-center">
    <a href="#" class="position-relative me-3">
      <i class="fa fa-shopping-cart fa-lg text-dark"></i> <!-- Adjust size as needed -->
      <div class="cart-no">5</div> <!-- Adjust font-size as needed -->
    </a>
    <a href="#" class="btn btn-outline-secondary me-2 fw-bold">Login</a>
    <a href="#" class="btn btn-outline-secondary fw-bold">Sign up</a>
  </div>
  <button class="btn btn-outline-secondary d-md-none ms-2" (click)="toggleMobileMenu()">
    <i class="fa fa-bars"></i>
  </button>
</header>

<div class="mobile-menu d-md-none" [ngClass]="{'show': isMobileMenuVisible}" id="mobile-menu">
  <nav class="text-uppercase fs-4 p-3">
    <a class="d-block p-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="d-block p-2" routerLink="/shop" routerLinkActive="active">Shop</a>
    <a class="d-block p-2" routerLink="/contact" routerLinkActive="active">Contact</a>
    <a class="d-block p-2" routerLink="/test-error" routerLinkActive="active">Error</a>
  </nav>
</div>
